@import '../../styles.scss';
@import '../app.component.scss';

.how-to-container {
    margin:1em auto;
    width:80%;
    padding:0 1em;
    min-height: 50vh;

    h2 {
        padding-bottom: 1em;
        color: $secondary_dark;
        width:100%;
        font-family: $font-one;
        text-align: center;
        text-transform: uppercase;
    }

    h6 {
        text-align: center;
        color: $secondary_dark;
        font-family: $font-two;
    }

    .instructions {
        margin-top: 2em;
        width: 80%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.2);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        padding: 1.5em 1em;
        border-radius: 1em;

    }

    .instructions ul li {
        margin-top: 1.4em;
        font-family: $font-two;
        text-align: justify;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
        color: $accent;
    }

    
}

.dark {
    h2 {
        color: $secondary;
    }

    h6 {
        color: $primary;
    }

    .instructions {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .instructions ul li {
        color: $dark-font-color;
        
    }
}

@media only screen and (max-width:600px) {
    .how-to-container {
        width: 100%;
        padding: 0;

        .instructions {
            width: 100%;
        }

        .instructions ul li {
            font-size: 14px;
        }

    }
}