<div class="d-flex justify-content-center align-items-center" style="min-height:80vh;">
    <div class="alert alert-danger" role="alert" [ngClass]="{'dark-error': isDarkMode}">
        <h4 class="alert-heading">ERROR: 404 PAGE NOT FOUND</h4>
        <p>Cannot retrieve data at this moment!</p>
        <hr>
        <p class="mb-0">To take the quiz, please enter your name and choose the level first <a href='home'
            style="text-decoration: none;">
            here</a>
        </p>
    </div>
</div>