@import '../../styles.scss';

.quiz-complete {
    
    width: auto;
    min-height: 50vh;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        font-family: $font-one;
    }

    .information {
        margin-top: 2em;
        padding: 2em;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 1.5em;
        font-family: $font-two;
        
    }

    .information h2 {
        font-weight: 600;
        text-transform: uppercase;
        color: $secondary;
    }

    .information h5 {
        margin-top: 2em;
        font-weight: 400;
    }

}

.btn-container {
    width: 100%;

    .back-to-home-btn {
        background-color: none;
        margin-top: 1em;
        margin-bottom: 1em;
        border: 2px solid $secondary;
        padding: 0.8em 1.5em;
        color: $secondary;
        font-weight: bold;
        font-family: $font-two;
        transform: translateY(0);
        transition: transform 1s ease-in-out;
    }
    
    .back-to-home-btn:hover {
        transform: translateY(-10px);
    }
    
}

.dark-btn {
    border: 2px solid $primary !important;
    color:$dark-font-color !important;
}






.dark {
        background-color: $tertiary_dark !important;

       h5{
        color: $primary;
       }
}

  @media only screen and (max-width:600px) {
    .quiz-complete h1 {
        text-align: center;
    }
  }



