@import '../../styles.scss';
@import '../app.component.scss';

.quiz-container {
    width: 100%;
    height: 100%;
    min-height: 50vh;
    margin: 1em auto 0 auto;
    

    .quiz-body {
        margin: 0.5em 1em;
        padding: 1em;
        width: auto;
        height: 100%;
        border-radius: 2em;
        background:transparent;
       

        .quiz-body div span {
            font-weight: bolder;
            font-size: 1.2em;
            color: $tertiary;
            
        }

        .quiz-body-content {
            margin-top: 1.5em;
            padding: 1em 1.5em;
            background-color: rgba($color: #fff, $alpha: 0.7);
            border-radius: 1.5em;
            font-family:$font-two;

            
    
            div h5 {
                color: $secondary_dark;
                font-weight: bold;
            }
    
            div small {
                color: $light-font-color;
            }
        }

        .quiz-btn-container {
                margin:1.8em auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-family: $font-two;

                .quiz-btn {
                    padding: 0.5em 2em;
                    border:2px solid $secondary;
                    color: $light-font-color;
                }
        }
    }

    

}

.dark {

    #quiz-body-content {
        background-color: $tertiary_dark;
      }

    #quiz-body-content div h5{
        color:$secondary_light;
    }

    #quiz-body-content .choice-block {
        background-color: rgba($color: $tertiary, $alpha: 0.7);
    }

    #quiz-body-content div small {
        color: $dark-font-color;
    }

    #quiz-body button{
        color: $dark-font-color;
    }
      

}


.choice-block {
    width: 90%;
    border-radius: 0.5em;
    margin-top: 1em;
    padding: 0.7em 1em;
    background: rgba($color: #cecece, $alpha: 0.7);
    display: flex;
    align-items: center;
    cursor: pointer;
}


.choice-block small {
    font-size: 16px;
}

.choice-block.disabled {
    border-radius: 0.5em;
    pointer-events: none;
    position: relative;
  }
  
  .choice-block.disabled::before {
    border-radius: 0.5em;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(37, 36, 36, 0.3); /* semi-transparent black overlay */
  }

.disabled-selection {
    pointer-events: none;
}

.placeholder-bg, .placeholder-container {
    padding: 0.5em;
}

.placeholder-bg-white {
    background: #e4e3e380; 
    border-radius: 0.3em;
}

.placeholder-bg {
    background: rgba(0, 0, 0,0.2);
    border-radius: 0.5em;
}

.placeholder-container {
    margin-top: 3em;
    background: #e4e3e380;
    width: 90%;
    min-height: 60vh;
    border-radius: 1em;

    h5 {
        margin-left: 0.8em;
        margin-top: 1em;
        width: 80%;
        height: 25px;
    }

    .choice {
        margin-top: 2em;
        margin-left: 1em;
    }

    span {
        margin-top: 1em;
        width: 90%;
        height: 42px;
    }
}

.btn-container {
    margin-top: 1em;
    width: 90%;
    min-height: 50px;
    .placeholder-btn {
        border-radius: 0.5em;
        width:100px;
        height: 50px;
        background: #e4e3e380;
    }
}
@media screen and (max-width:600px) {
    .quiz-container {
        width: 100%;
        height: 100%;
        margin: 1em 0;

        .quiz-body {
            width: 100%;
            margin: 1em 0;

            div span {
                font-size: 1em;
            }
    
            div h5 {
               font-size: 16px;
               font-weight: 500;
            }

            .quiz-choices {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
    
            div small {
                font-size: 14px;
            }
    
            .quiz-btn-container {
                
                    .quiz-btn {
                        padding: 0.5em 1.5em;
                        border:2px solid $secondary;
                        color: $light-font-color;
                        font-size: 14px;
                    }
            }
        }
    
        
    
    }

    .placeholder-container {
        span {
            margin-top: 1em;
            width: 90%;
            height: 70px;
        }
    }
}







