<!-- Show loader component when api hasn't fetched the data yet -->
<div *ngIf="isLoading === true">
    <div class="quiz-container">
        <div class="quiz-body">
            <div class="d-flex justify-content-between align-items-center">
                <span class="placeholder placeholder-lg placeholder-wave placeholder-bg-white col-md-2 col-4"></span>
                <span class="placeholder placeholder-lg placeholder-wave placeholder-bg-white col-md-2 col-4"></span>
            </div>
            <div class="py-2 placeholder placeholder-container placeholder-wave">
                <h5 class="placeholder placeholder-bg placeholder-wave"></h5>
                <div class="choice">
                    <span class="placeholder placeholder-bg placeholder-wave"></span>
                    <span class="placeholder placeholder-bg placeholder-wave"></span>
                    <span class="placeholder placeholder-bg placeholder-wave"></span>
                    <span class="placeholder placeholder-bg placeholder-wave"></span>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center btn-container">
                <span class="placeholder placeholder-wave placeholder-lg placeholder-btn"></span>
                <span class="placeholder placeholder-wave placeholder-lg placeholder-btn"></span>
            </div>
        </div>
    </div>
</div>

<!-- While data is received and playerName and difficultyLevel are all set -->
<div *ngIf="!isLoading">
    <div *ngIf="playerName!='' && difficultyLevel!=''">
        <div class="quiz-container" id="quiz-container" [ngClass]="{'dark': isDarkMode}">
            <div class="quiz-body" *ngFor="let quiz of quizObjects; let i=index;" id="quiz-body"
            [hidden]="i !== currentQuestionIndex">
                <div class="d-flex justify-content-between align-items-center">
                    <span>Question {{i+1}}/20</span>
                    <span>Computer Science ({{difficultyLevel}})</span>
                </div>
                <div class="quiz-body-content" id="quiz-body-content">
                    <div class="mt-2">
                        <h5 [innerHTML]="quiz.question"></h5>
                    </div>
                    <div class="mb-3 mt-4">
                        <div class="choice-block" *ngFor="let choice of (quiz.choices.sort())" [id]="choice+i"
                        (click)="onChoiceSelected(quiz,choice,i)"
                        >
                            <small [innerHTML]="choice"></small>
                        </div>
                    </div>
                </div>
                <div class="quiz-btn-container">
                    <button class="btn quiz-btn" [disabled]="currentQuestionIndex === 0"
                    (click)="goToPrevQuestion()"
                    >Prev</button>
                    <button class="btn quiz-btn"
                    #nextBtn
                    (click)="goToNextQuestion()">Next</button>
                </div>
            </div>
        </div>    
    </div>
</div>

<!-- When playerName and difficultyLevel is empty -->
<div *ngIf="playerName==='' && difficultyLevel===''" id="error_container">
        <app-error></app-error>
</div> 
  


