@import '../styles.scss';

/* Shared styles for both light and dark modes */


.rounded-icon-btn {
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  margin: 0 0.3em;
  color: $primary;
  background-color: $secondary;
  color: white;
  display: inline-flex;
  align-items: center;
  vertical-align: center;
  padding: 0.15em 0.4em;
  border-radius: 50%;
}

.dark-btn {
  background-color: rgba($color: $tertiary_dark, $alpha: 0.5);
}


