<div class="container-fluid main-container">
    <div class="d-flex justify-content-end align-items-center py-2 px-2">
            <button class="rounded-icon-btn" (click)="navigateToHowTo()">
                <i class="bi bi-question-lg"></i>
            </button>
        <button class="rounded-icon-btn" (click)="modeOnToggle()">
            <i class={{modeIcon}}></i>
        </button>
        <button class="rounded-icon-btn" (click)="volumeOnClick()">
            <i class={{volumeIcon}}></i>
        </button>
       
    </div>
    <!-- <app-home [isDarkMode]="isDarkMode"></app-home>
    <app-quiz-content></app-quiz-content> -->
    <router-outlet></router-outlet>
</div>