<div class="home-container" #home_container>
   <svg
   [attr.width]="thoth_logo_width"
   height="46.713463mm"
   viewBox="0 0 179.84985 46.713463"
   version="1.1"
   id="thoth"
   inkscape:export-filename="thoth_2.svg"
   inkscape:export-xdpi="96"
   inkscape:export-ydpi="96"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">

  <defs
     id="defs178" />
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(-9.7947914,-116.93244)">
    <g
       aria-label="THOTH"
       transform="scale(0.87066145,1.1485521)"
       id="textStyle"
       #textStyle
       class="svg_text_style"
       style="font-size:48.5683px;font-family:Wallpoet;-inkscape-font-specification:'Wallpoet, Normal';fill-opacity:0;stroke-width:1.45131">
      <path
         d="M 47.559235,110.33634 H 32.750398 v 31.26251 H 25.654496 V 110.33634 H 12.131148 v -7.64646 h 35.428087 z"
         id="path302"
         style="stroke-width:1.76264" />
      <path
         d="m 54.243807,102.68988 h 6.478864 v 15.63126 h 9.975398 v 7.71412 h -9.975398 v 15.56359 h -6.478864 z m 35.428089,0 h -6.47887 v 15.63126 h -9.975399 v 7.71412 h 9.975399 v 15.56359 h 6.47887 z"
         id="path304"
         style="stroke-width:1.76264" />
      <path
         d="m 98.927413,107.35896 6.016107,-4.66908 h 10.64382 v 7.64646 h -10.18105 v 23.34538 h 9.97539 v 7.91713 h -10.43816 l -6.016107,-4.60141 z m 35.428077,0 -5.8104,-4.66908 h -10.64385 v 7.64646 h 9.97539 v 23.34538 h -9.97539 v 7.91713 h 10.64385 l 5.8104,-4.60141 z"
         id="path306"
         style="stroke-width:1.76264" />
      <path
         d="m 174.82279,110.33634 h -14.80883 v 31.26251 h -7.09591 v -31.26251 h -13.52334 v -7.64646 h 35.42808 z"
         id="path308"
         style="stroke-width:1.76264" />
      <path
         d="m 181.50739,102.68988 h 6.47885 v 15.63126 h 9.97538 v 7.71412 h -9.97538 v 15.56359 h -6.47885 z m 35.42806,0 h -6.47887 v 15.63126 h -9.97539 v 7.71412 h 9.97539 v 15.56359 h 6.47887 z"
         id="path310"
         style="stroke-width:1.76264" />
    </g>
  </g>
</svg>
   <div class="mb-2 d-flex justify-content-center flex-column">
      <label for="name" class="form-label" >ENTER YOUR NAME</label>
      <input type="text" class="form-control" id="name" placeholder="" required autofocus [(ngModel)]="playerName"> 
   </div>
   <div class="d-flex justify-content-around px-2 mt-4">
      <button class="standard-btn" (click)="setDifficultyLevel('EASY')" >
         EASY
      </button>
      <button class="standard-btn" (click)="setDifficultyLevel('MEDIUM')" >
         MEDIUM
      </button>
      <button class="standard-btn" (click)="setDifficultyLevel('HARD')" >
         HARD
      </button>
   </div>
   
   <div class="alert alert-danger mt-3 d-flex align-items-center alert-dismissible fade show" role="alert" *ngIf="isNameEmpty">
      <i class="bi bi-exclamation-triangle-fill"></i>&nbsp;&nbsp;
      <i>You must enter your name first to proceed!</i>&nbsp;&nbsp;
   </div>